{{#if user}}
  <p> You are logged in as {{user.username}}! </p>
{{/if}}
<h2> Here is the History page! (This table needs to be filled in dynamically using hbs)</h2>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Answer 1</th>
    <th>Answer 2</th>
    <th>Answer 3</th>
  </tr>
  {{#each answers}}
    <tr>
      <td>{{formatDate this.date}}</td>
      <td>{{this.answer1}}</td>
      <td>{{this.answer2}}</td>
      <td>{{this.answer3}}</td>
    </tr>
  {{/each}}
</table>
